/Users/joshuahellewell/Desktop/01-dev/shopify_app/data/
.DS_Store
/Users/joshuahellewell/Desktop/01-dev/shopify_app/data/
/Users/joshuahellewell/Desktop/01-dev/shopify_app/shopify_seo_tool.egg-info/
/Users/joshuahellewell/Desktop/01-dev/shopify_app/shopify_seo/__pycache__/
/Users/joshuahellewell/Desktop/01-dev/shopify_app/build/
# /Users/joshuahellewell/Desktop/01-dev/shopify_app/examples/temp/